name: ASP.NET CI
# Description: Pulls main branch, restores nuget packages, builds and publishes website in release mode, creates artifact DevOpsTestBuildOutput

on:
  push:
  # When beranch main is pushed too, run this action
    branches: [ main ]
  pull_request:
  # When a pull request on main is accepted run this action
    branches: [ main ]
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    # Uses latest version of windows to build the web application
    runs-on: windows-latest

    # List of steps for the build job
    steps:
    # Checkout master branch
    - name: Check out main branch
      uses: actions/checkout@main
    
    # Install MSBuild to build the projecty
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.1
      
    # Install nuget to restore the nuget packages and restore and dependencies
    - name: Install Nuget
      uses: nuget/setup-nuget@v1
      
    # Restore Nuget Packages
    - name: Restore Nuget Packages
      run: nuget restore "WebApp\DevOpsTest.sln"
      
    # Build the application  
    - name: MSBuild for Release - Build
      run: msbuild "WebApp\DevOpsTest.sln" /t:Rebuild /v:diag /p:Configuration=Release /p:PrecompileBeforePublish=true /p:EnableUpdateable=false
      
    # Create a folder for it be built too
    - name: Create Build Folder
      run: mkdir D:\_build\
      
    # Build the website and publish it
    - name: MSBuild for Release - Publish
      run: msbuild "WebApp\DevOpsTest.sln" /t:Rebuild /v:diag /p:Configuration=Release /p:PrecompileBeforePublish=true /p:EnableUpdateable=false /p:OutDir=D:\_build\  
      
    # Show the build tree
    #- name: Show build files tree
    #  run: tree D:\_build\_PublishedWebsites
      
    # Show the website publish tree
    #- name: Show build files DevOpsTest tree
    #  run: tree D:\_build\_PublishedWebsites\DevOpsTest
      
    # Upload the artifact
    - uses: actions/upload-artifact@v3
      with:
        name: DevOpsTestBuildOutput
        path: D:\_build\_PublishedWebsites\DevOpsTest\
